<h1>Welcome !</h1>

<p>Here are all the gossips</p>
<div class="container">
<% @gossips.each do |gossip| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= gossip.title %></h5>
      <p class="card-text"><%= gossip.content %></p>
      <a href="/gossip/show_gossip/<%= gossip.id.to_i %>" class="btn btn-primary">Read the gossip</a>
    </div>
  </div>
  <% end %>
<div>