<div class="jumbotron">
  <h1 class="display-4">Welcome in The Gossip Project!</h1>
  <p class="lead">A network where you can snitch around and destroy lives !</p>
</div>
<h2>Here are all the gossips</h2>
<div class="list-group m-auto" style="width: 600px">
  <% @gossips.each do |gossip| %>
    <a href="/gossip/<%= gossip.id.to_i %>" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= (gossip.title) %></h5>
      </div>
      <p class="mb-1"><%= (gossip.content)[0..45] %></p>
    </a>
  <% end %>
</div>


  